<!DOCTYPE html>
<html>
<head>
    <title>EstateFlow AI</title>
</head>
<p>
    <a href="{% url 'dashboard' %}">
        Dashboard
    </a>

    |

    <a href="{% url 'lead_create' %}">
        Create New Lead
    </a>
</p>
<body>

    <h1>EstateFlow AI</h1>
<p>
    Logged in as:
    <strong>{{ request.user.username }}</strong>
</p>

<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}

    <button type="submit">
        Logout
    </button>
</form>
    <h2>Leads</h2>

    <p>
        <a href="{% url 'lead_create' %}">
            Create New Lead
        </a>
    </p>

    <table border="1" cellpadding="8">

        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Source</th>
            <th>Property</th>
            <th>Budget</th>
            <th>Follow-up</th>
            <th>Actions</th>
        </tr>

        {% for lead in leads %}

        <tr>

            <td>
                <a href="{% url 'lead_detail' lead.pk %}">
                    {{ lead.first_name }}
                    {{ lead.last_name }}
                </a>
            </td>

            <td>
                {{ lead.get_status_display }}
            </td>

            <td>
                {{ lead.get_source_display }}
            </td>

            <td>
                {{ lead.property_interest }}
            </td>

            <td>
                {{ lead.budget }}
            </td>

            <td>
                {{ lead.follow_up_date }}
            </td>

            <td>

                <a href="{% url 'lead_edit' lead.pk %}">
                    Edit
                </a>

                |

                <a href="{% url 'lead_delete' lead.pk %}">
                    Delete
                </a>

            </td>

        </tr>

        {% empty %}

        <tr>
            <td colspan="7">
                No leads yet.
            </td>
        </tr>

        {% endfor %}

    </table>

</body>
</html>